.sidebar__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 64px;
}

.form__container {
  background-color: rgb(248, 247, 247);
  width: 320px;
  min-height: 30px;
  padding: 16px;
  border-radius: 20px;
}
