.cardContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.deleteButton {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
